# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# GIF intermediate frames
posterior_gif_frames/
corner_gif_frames/

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk